[submodule "Gargantua\\vendor\\glfw"]
  path = Gargantua/vendor/glfw
  url = https://github.com/Giully314/glfw.git
[submodule "Gargantua/vendor/imgui"]
	path = Gargantua/vendor/imgui
	url = https://github.com/Giully314/imgui
