#Directories
.vs/
bin/
bin-int/
out/
Sandbox/src/assets/
GargantuaEditor/src/assets/*
GargantuaEditor/x64/

#Files
*.user
ProjectGeneration.bat
CMakeLists.txt


# visual studio files and dirs
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.hint
**.imi
**.png
**.jpg
**.ini