#Directories
.vs/
bin/
bin-int/
out/
Sandbox/src/assets/

#Files
*.user
ProjectGeneration.bat
CMakeLists.txt


# visual studio files and dirs
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.hint
**.imi

.gitignore